.contact-section {
    padding: 5rem 10% 1rem 10%;
    background-color: #111;
    color: #fff;
    text-align: center;
}

.contact-section h2 {
    font-size: 3rem;
    color: #4acfac;
    margin-bottom: 1.5rem;
}

.contact-section p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 400px;
    margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 1rem;
    border: 2px solid #4acfac;
    border-radius: 10px;
    background-color: #1a1a1a;
    color: #fff;
    outline: none;
    transition: border-color 0.3s;
}

.contact-form input:focus
.contact-form textarea:focus {
    border-color: #3ab39a;
}

.contact-form textarea {
    height: 180px;
    resize: none;
}

.contact-form button {
    background-color: #4acfac;
    border: none;
    color: #111;
    padding: 1rem 2rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.contact-form button:hover {
    background-color: #3ab39a;
    transform: scale(1.05);
}