.projects-section {
    background-color: #111;
    color: #fff;
    padding: 3rem 10%;
    text-align: center;
}

.projects-section h2 {
    font-size: 3rem;
    color: #6c63ff;
    margin-bottom: 2rem;
}

.projects-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.nav-btn{
    background: none;
    border: none;
    color: #6c63ff;
    font-size: 1.5rem;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-list button:first-of-type {
    margin-right: 1rem;
}

.projects-list button:last-of-type {
    margin-left: 1rem;
}

.project-card {
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.project-card h2 {
    color: #ff8c42;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.project-card .description {
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.project-card .tags {
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.project-card p {
    max-width: 600px;
    margin: 0.5rem auto;
    line-height: 1.5;
    word-wrap: break-word;
    text-align: center;
}

.screenshot-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.screenshot-viewer img {
    max-width: 70%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 10px;
    margin: 0 15px;
    transition: transform 0.3s;
}

.screenshot-viewer img:hover {
    transform: scale(1.05);
}

.project-indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.project-indicators span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
}

.project-indicators span.active {
    background-color: #ff7f50;
    transform: scale(1.2);
}