.skills-section {
    padding: 4rem 10%;
    background-color: #111;
    color: #fff;
}

.skills-section h2 {
    font-size: 2.5rem;
    color: #a06cd5;
    margin-bottom: 2rem;
    text-align: center;
}

.skills-category {
    margin-bottom: 3rem;
}

.skills-category.front-end h3 {
    color: #4ade80;
}

.skills-category.back-end h3 {
    color: #3b82f6;
}

.skills-category.other h3 {
    color: #ec4899;
}

.skills-category h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}
