.footer {
    background-color: #111;
    color: #ccc;
    text-align: center;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer p,
footer .social-links {
    margin: 0;
    line-height: 1.2;
    font-size: 0.9rem;
}

.footer .social-links a {
    color: #33aaff;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-links a:hover {
    color: #0077cc;
}