html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    background-color: #111;
    overflow-x: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    background-color: #111;
}

footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}